body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.counter {
  text-align: center;
  font-size: 1.2rem;
  margin: 1%;
}

.text {
  margin: 1%;
}

.counter input{
  width: 7.5rem;
  height: 1.5rem;
  text-align: center;
  font-size: large;
}

.counter button{
  width: 1.8rem;
  height: 1.9rem;
}

.reset button{
  width: 5rem;
  margin-top: 1.1rem;
}